* {
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar {
    background-color: #2f2fea;
    height: 100vh;
}
.main {
    background-color: white;
    height: 100vh;
}
.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: lightsteelblue;
}
img {
    width: 60px;
}
.icon-text {
    color: lightsteelblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
