* {
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar {
    background-color: #0ca2e5;
    color: white;
    height: 100vh;
}
.main {
    background-color: white;
    height: 100vh;
}
.logo-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: white;
    margin: 20px 20px;
}

img {
    width: 60px;
}
.icon-text {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px 40px;
}
.icon-text p {
    margin-left: 10px;
    font-size: 20px;
}
.http{
    color: white;
    font-weight: bold;
}

