
.roboto-<uniquifier> {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-weight: <weight>;
             font-style: normal;
             font-variation-settings:
                     "wdth" 100;
         }

* {
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;


}

h2{
    margin-left: 20px;
}
.sidebar {
    background-color: rgba(37, 33, 33, 0.86);
    color: chartreuse;
    height: 100vh;
}
.main {
    background-color: lightgrey;
    height: 100vh;
}
.logo-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: limegreen;
    margin: 20px 20px;

}

img {
    width: 60px;
}
.icon-text {
    color: limegreen;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px 40px;
}
.icon-text p {
    margin-left: 20px;
    font-size: 20px;
}
.http{
    color: white;
    font-weight: bold;
}
.main{
    background-color: chartreuse;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.header{
    background-color: #3f3a3a;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: #736e6e;
    display: grid;
    grid-template-columns: 70% 30%;
}
.navabar,.left{
display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}
.form-input{
    width: 500px;
    background-color: #ded7d7;
    border-radius: 10px;
    border: 1px solid #ded7d7;
    margin-left: 20px;
    margin-right: 200px;
}
.avatar{
    margin: 10px;
}
.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: -10px 20px;
    padding-bottom: 5px;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 30%;
}
.btn{
    background-color: #05f105;
    color: grey;
    width: 70px;
    height: 30px;
    border: 1px #0ca2e5 solid;
    border-radius: 25px;
    outline: 1px solid grey;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    background-color: white;
    border-left: 2px solid chartreuse;
    border-radius: 10px;
    height: 125px;
    width: 80%;
    margin: 30px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}




.icons{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-left: 80%;
}
.card p{
    font-size: 16px;
    color: grey;
}
h4{
    margin-left: 20px;
    margin-top: 20px;
}

.annc h4{
    margin-left: 20px;
    padding: 8px;
}
.annc-trend{
    display: grid;
    grid-template-rows: 50% 50%;
}
.annc-card, .trend-card{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.annc-text{
    padding: 5px 10px;
}
.annc-text, .trend-text h6{
    font-size: 16px;
}

.annc-text, .trend-text p{
    font-size: 14px;
    color: #3a3737;
}
.divider{
    border: 1px solid #343030;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.trend-card{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.trend-text{
    margin-left: 20px;
}